<link rel="stylesheet" href="/assets/css/data.css">

{{> nav }}
{{!-- {{> login-modal }} --}}


<section id='dataInfo'>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="classroom">

                    <div class="button">
                        <button class="btn btn-info" id="searchButton">Get Data</button>
                    </div>
                </div>
                 <h3>Student Who Met The Goal</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Word Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each met}}
                        <tr id="form-row">
                            <td>{{first_name}}</td>
                            <td>{{last_name}}</td>
                            <td>{{word_count}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                 <h3>Student Who Almost Met The Goal</h3>
                <table class="table table-striped">
                    <thead>
                       
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Word Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each almostMet}}
                        <tr id="form-row">
                            <td>{{first_name}}</td>
                            <td>{{last_name}}</td>
                            <td>{{word_count}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                 <h3>Student Who Didn't Meet The Goal</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Word Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each didntMeet}}
                        <tr id="form-row">
                            <td>{{first_name}}</td>
                            <td>{{last_name}}</td>
                            <td>{{word_count}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
</section>