<link rel="stylesheet" href="/assets/css/data.css">
{{> nav }}
{{> login-modal }}

<!-- Plans -->
<section id="plans">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="author-container">

                    <h1>Student Roster</h1>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Word Goal</th>
                                <th>Word Count</th>
                                <th>Update Word Count</th>
                                 <th>Update Word Count Form</th>

                            </tr>
                        </thead>
                        <tbody>
                            {{#each students}}
                            <tr id="form-row">
                                <td>{{first_name}}</td>
                                <td>{{last_name}}</td>
                                <td>{{word_goal}}</td>
                                <td>{{word_count}}</td>
                                <td><input placeholder={{word_count}} id="author-name" type="text" /></td>
                                   <td><form action="/" method="POST"><textarea type="text" name="word_count">{{word_count}}</textarea><button type="submit">Update</button></form></td>

                            </tr>
                            {{/each}}
                        </tbody>
                    </table>

                    <form id="author-form">
                        <td><button type="submit" class="btn btn-success">Update Word Count</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Plans -->
